hr {
  border-top: 1px solid lightgrey;
}

.percentage-container {
  display: block;
  padding: 0;
  height: 60px;
}

.percentage-segment {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
}

.percentage-segment > p {
  color: white;
}


.icon-bar {
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.icon {
  display: inline-block;
  height: 40px;
}

.icon-image {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.icon-not-found {
}

.icon > p {
  display: inline-block;
}

.title_spa {
  font-weight: lighter;
}
